HF_TOKEN=
HF_MODERATION_MODEL=MoritzLaurer/mDeBERTa-v3-base-xnli-multilingual-nli-2mil7
HF_SENTIMENT_MODEL=distilbert/distilbert-base-uncased-finetuned-sst-2-english
HF_ZERO_SHOT_MODEL=MoritzLaurer/mDeBERTa-v3-base-xnli-multilingual-nli-2mil7
HF_EMBEDDINGS_MODEL=sentence-transformers/all-MiniLM-L6-v2
HF_IMAGE_MODERATION_MODEL=Falconsai/nsfw_image_detection
AI_MODERATION_MODE=review
AI_MODERATION_THRESHOLD=0.7
AI_IMAGE_MODERATION_ENABLED=true
AI_IMAGE_MODERATION_THRESHOLD=0.7
FEED_MODE=tags
